{% extends "blog/base.html" %}
{% block content %}
	
	<article class="media content-section">
		  <div class="media-body">
		    <h2 class="article-title">About Page</h2>
		    <p class="article-content">A lot of us have been on lockdown over the past few days, weeks, or even months, and its easy to feel stuck and like time just isn't moving forward at all.

			The purpose of Coded-19 is to be a resourse for people to show off their projects, discuss useful tools, and learn new things while on lockdown. It's open to anyone interested in programming and the tech industry, whether you're a pro developer or just looking at getting started with HTML and CSS.
			
			Feel free to talk about your favourite languages and code editor plugins. You can even share some dank memes if you'd like.</p>
		  </div>
	</article>
	
{% endblock content %}


