{% extends "blog/base.html" %}
{% block content %}

    <div class="content-section">
        <h1 class="article-title">Contact | Kaamraan Raboobee</h1>
        <h3 class="article-title">Bio</h3>
            <p class="article-content">
                Kaamraan Raboobee is a graduate of HyperionDev's intensive 3-month Software Engineering Bootcamp. 
                He has been learning Python and Java since 2017. He also holds a BA Hons degree in Media and Cultural Studies.

                He is passionate about coding and the tech industry,  and is currently focussing on Django, Docker, and Linux. His other 
                hobbies include birdwatching, photography, and mechanical keyboards.
                
                His contact information can be found below.
            </p>
        <a class="btn btn-outline-light mb-2" href="mailto:kraboobee@gmail.com">email</a>
        <a class="btn btn-outline-light mb-2" href="https://www.linkedin.com/in/kaamraan-raboobee/">LinkedIn</a>
        <a class="btn btn-outline-light mb-2" href="https://github.com/Kraboobee">Github</a>
    </div>
    
{% endblock content %}


