{% extends "blog/base.html" %}

<script>
	{% block jquery %}
	function updateText(btn, newLikes, verb) {
		btn.text(verb + ": " + newLikes)
	}
	$(".like-btn").click(function (e) {
		e.preventDefault()
		var this_ = $(this)
		var likeUrl = this_.attr("data-href")
		var likeCount = parseInt(this_.attr("data-likes"))
		$.ajax({
			url: likeUrl,
			method: "GET",
			data: {},
			success: function (data) {
				console.log(data)
				var newLikes;
				if (data.liked) {
					newLikes = likeCount + 1
					updateText(this_, newLikes, "Unlike")
				} else {
					newLikes = likeCount
					updateText(this_, newLikes, "Like")
				}
			}, error: function (error) {
				console.log(error)
				console.log("error")
			}
		})
	})
	{% endblock %}
</script>

{% block content %}
	<article class="media content-section">
	  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
	      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
	      {% if object.author ==  user %}
	      <div>
	      	<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>	      	
	      	<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
	      </div>	      	
	      {% endif %}
	    </div>
		<h2 class="article-title">{{ object.title }}</h2>
		<div class="article-content">
			{{ object.formatted_markdown | safe }}
		</div>
		<div class="likes-counter">
			{% if user.is_authenticated %}
				{% if request.user in post.likes.all %}
				<a class="btn btn-success like-btn mr-2" data-href="{% url 'post-like-api' post.id %}"
					data-likes="{{ post.likes.count }}" href="{% url 'post-like-api' post.id %}">Unlike:
					{{ post.likes.count }}</a>
				{% else %}
				<a class="btn btn-success like-btn mr-2" data-href="{% url 'post-like-api' post.id %}"
					data-likes="{{ post.likes.count }}" href="{% url 'post-like-api' post.id %}">Like:
					{{ post.likes.count }}</a>
				{% endif %}
				<a class="btn btn-outline-success" style="float: right;" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
			{% else %}
				<a class="btn btn-warning mr-2"  href="{% url 'login' %}">Like: {{ post.likes.count }}</a>
				<a class="btn btn-outline-warning" style="float: right;" href="{% url 'login' %}">Add Comment</a>
			{% endif %}
		</div>
		{% for comment in post.comments.all  %}
			<div class="comment content-section">
				<div class="date">
					<img class="rounded-circle article-img" src="{{ comment.user.profile.image.url }}">
					<a class="mr-2" href="{% url 'user-posts' comment.user.username %}">{{ comment.user.username }}</a> | <small class="text-muted">{{ comment.created_on|date:"F d, Y" }}</small> 
				</div>
				<p>{{ comment.body|linebreaks }}</p>
			</div>
		{% empty %}
			<p>No comments here yet</p>
		{% endfor %}
	</div>
	</article>
{% endblock content %}