{% extends "blog/base.html" %}
{% block content %}

<article class="media content-section">
    <div class="content-section column-a resources">
        <h3 class="article-title">Resources</h3>
        <p class='text-muted'> A few links to some useful information</p>
        <div class="list-group">
            <a href="/resources/youtube"        class="list-group-item list-group-item-action">YouTube Videos and Playlists</a>
            <a href="/resources/documentation"  class="list-group-item list-group-item-action">Tools and Docs</a>
            <a href="/resources/subreddit"      class="list-group-item list-group-item-action">Subreddits</a>
            <a href="/resources/forum"          class="list-group-item list-group-item-action">Forums</a>
            <a href="/resources/blog"           class="list-group-item list-group-item-action">Blogs and Articles</a>
            <a href="/resources/course"         class="list-group-item list-group-item-action">Courses</a>
            <a href="/resources/github"         class="list-group-item list-group-item-action">Github Repositories</a>
            <a href="/resources/etc"            class="list-group-item list-group-item-action">Other Resources</a>
        </div>
    </div>
    <div class="column-b">
        <p class="text-muted ml-4">Choose a category</p>
    </div>
</article>

{% endblock content %}
