{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<!-- 
	This shows the registration form
	It also gives the user an option to sign in if they already have an account
	 -->
	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Request Password Reset</button>
			</div>
		</form>
	</div>
{% endblock content %}
